@import 'base';

.out_container {
	padding: 66px 0;
	border-top: 1px solid $gray;
	.in_container {
		max-width: 850px;
		margin: 0 auto;
		.flex-container {
			display: flex;
			margin: 0;
			padding: 0;
			justify-content: space-between;
			.info-content {
				display: block;
				border: 1px solid $gray;
				background-color: $white;
				border-radius: 10px;
				padding: 25px;
				width: 100%;
				&:nth-child(odd) {
					margin-right: 30px;
				}
				@media screen and (max-width: 768px) {
					margin-bottom: 10px;
					padding: 25px 0;
					&:nth-child(odd) {
						margin-right: 0;
					}
				}
			}
			@media screen and (max-width: 768px) {
				flex-direction: column;
			}
		}
		.form-content {
			display: block;
			border-radius: 10px;
			width: 100%;
			margin-bottom: 40px;
			&:nth-child(odd) {
				margin-right: 30px;
			}
			.form-info {
				width: 520px;
				display: inline-block;
				vertical-align: top;
				margin-left: 100px;
				font-size: 11px;
				color: $darkGray;
				line-height: 20px;
				p {
					margin: 0;
				}
				@media screen and (max-width: 768px) {
					margin-left:0;
					margin-top:20px;
					width: auto;
				}
			}
		}
	}
}
