body {
  margin: 0;
  font-family: arial, verdana, sans-serif; }
  body h1 {
    color: #1C89C6; }
  body img {
    vertical-align: top; }
  body input[type="text"], body input[type="tel"], body input[type="email"], body select, body option, body textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0; }
  body input[type="submit"] {
    background-color: #1C89C6;
    color: #fff;
    width: 190px;
    height: 45px;
    border: 0;
    text-transform: uppercase;
    outline: 0; }
    body input[type="submit"]:hover {
      cursor: pointer; }
  body textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0; }

.lightgray {
  background-color: #F8F8F8; }

/* sprite */
.icon {
  background-image: url("../assets/images/sprite.gif");
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px; }
  .icon.triangle {
    background-position: 0 0; }
  .icon.circle {
    background-position: 62px 0; }

/* end - sprite */
/* misc */
.asterisk-required {
  color: #f00; }

.vertical-container {
  flex-direction: row;
  vertical-align: top;
  width: 630px; }
  .vertical-container p {
    margin-top: 0;
    line-height: 25px; }
  @media screen and (max-width: 768px) {
    .vertical-container {
      width: auto; } }

.required.alert-box {
  border: 1px solid #BE3600;
  background-color: #FFF4F0; }
  .required.alert-box + span {
    border: 1px solid #000;
    display: inline-block;
    color: #fff;
    background-color: #BE3600;
    padding: 6px;
    font-size: 11px;
    border-radius: 0 0 5px 5px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    position: relative;
    top: -2px; }

body {
  margin: 0;
  font-family: arial, verdana, sans-serif; }
  body h1 {
    color: #1C89C6; }
  body img {
    vertical-align: top; }
  body input[type="text"], body input[type="tel"], body input[type="email"], body select, body option, body textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0; }
  body input[type="submit"] {
    background-color: #1C89C6;
    color: #fff;
    width: 190px;
    height: 45px;
    border: 0;
    text-transform: uppercase;
    outline: 0; }
    body input[type="submit"]:hover {
      cursor: pointer; }
  body textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0; }

.lightgray {
  background-color: #F8F8F8; }

/* sprite */
.icon {
  background-image: url("../assets/images/sprite.gif");
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px; }
  .icon.triangle {
    background-position: 0 0; }
  .icon.circle {
    background-position: 62px 0; }

/* end - sprite */
/* misc */
.asterisk-required {
  color: #f00; }

.vertical-container {
  flex-direction: row;
  vertical-align: top;
  width: 630px; }
  .vertical-container p {
    margin-top: 0;
    line-height: 25px; }
  @media screen and (max-width: 768px) {
    .vertical-container {
      width: auto; } }

.required.alert-box {
  border: 1px solid #BE3600;
  background-color: #FFF4F0; }
  .required.alert-box + span {
    border: 1px solid #000;
    display: inline-block;
    color: #fff;
    background-color: #BE3600;
    padding: 6px;
    font-size: 11px;
    border-radius: 0 0 5px 5px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    position: relative;
    top: -2px; }

.out_container {
  padding: 66px 0;
  border-top: 1px solid #ccc; }
  .out_container .in_container {
    max-width: 850px;
    margin: 0 auto; }
    .out_container .in_container .flex-container {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between; }
      .out_container .in_container .flex-container .info-content {
        display: block;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px;
        width: 100%; }
        .out_container .in_container .flex-container .info-content:nth-child(odd) {
          margin-right: 30px; }
        @media screen and (max-width: 768px) {
          .out_container .in_container .flex-container .info-content {
            margin-bottom: 10px;
            padding: 25px 0; }
            .out_container .in_container .flex-container .info-content:nth-child(odd) {
              margin-right: 0; } }
      @media screen and (max-width: 768px) {
        .out_container .in_container .flex-container {
          flex-direction: column; } }
    .out_container .in_container .form-content {
      display: block;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 40px; }
      .out_container .in_container .form-content:nth-child(odd) {
        margin-right: 30px; }
      .out_container .in_container .form-content .form-info {
        width: 520px;
        display: inline-block;
        vertical-align: top;
        margin-left: 100px;
        font-size: 11px;
        color: #aaa;
        line-height: 20px; }
        .out_container .in_container .form-content .form-info p {
          margin: 0; }
        @media screen and (max-width: 768px) {
          .out_container .in_container .form-content .form-info {
            margin-left: 0;
            margin-top: 20px;
            width: auto; } }
